.Slider1 {
  height: 425px;
  overflow: hidden;
}

.Slider1 figure {
  display: grid;
  width: 500%;
  position: relative;
  padding: 0;
  margin: 0;
  /*animation: 20s Slider1 infinite;*/
}

@keyframes Slider1 {
  0% {
    left: 0;
  }

  50% {
    left: -100%;
  }

  100% {
    left: -200%;
  }
}

.Slider1 .slideContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 20%;
  float: left;
  background-color: #f2f2f2;
  justify-items: end
}

.Slider1 .slideContainer img {
  width: 584px;
  height: 425px;
}

.Slider1 .slideContainer .text {
  justify-self: start;
  margin: 50px;
  width: 300px;
}

.indicatorContainer {
  position: absolute;
  top: 1200px;
  left: 1500px;
  z-index: 1;
  background-color: black;
  float: left;
}

.paid {
  text-align: center;
  min-width: 400px;
  max-width: 670px;
  margin: auto;
  padding: 20px;
}




