footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

footer .links {
  column-width: auto;
  column-count: 2;
  column-gap: 20px;
}

svg.equal-housing{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}